* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fieldest {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#title {
  margin-top: 20px;
}

fieldset {
  padding: 1rem;
  margin-top: 30px;
  width: 38%;
}

input,
button {
  padding: 7px;
  height: 60px;
}

.made {
  margin-top: 30px;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .fieldest {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #title {
    margin-top: 20px;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    padding: 0.9rem;
    margin-top: 30px;
    width: 94%;
  }

  input,
  button {
    padding: 5px;
    height: 50px;
    margin-bottom: 10px;
  }
}
